#root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  width: 100%;
  color: rgb(175, 175, 175);
}

header {
  width: 100%;
  background-color: rgb(31, 31, 31);
}

img {
  max-width: 100%;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-bar {
  height: 5px;
  background-color: rgb(42, 152, 185);
}

.nav-list {
  background-color: rgb(31, 31, 31);
  font-size: 1.5em;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-me-text {
  width: 90%;
  margin: auto;
}

.contact-info {
  text-align: center;
}

.about-section {
  background-color: rgb(71, 71, 71);
}

.about-div {
  display: flex;
  flex-direction: column-reverse;
}

.about-div h1 {
  font-size: 1.8em;
  margin: 0;
  margin: 10px 0 0 0;
}

.about-div h2 {
  font-size: 1.5em;
  margin: 10px 0 0 0;
}

.about-bar {
  height: 3px;
  width: 100px;
  background-color: rgb(42, 152, 185);
  margin: 10px 0;
}

.about-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-button-content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

.about-logo {
  height: 40px;
  margin: 10px 10px;
}

.about-profile-picture {
  width: 70%;
  display: block;
  margin: auto;
}

.about-text p {
  font-size: 1.1em;
  text-align: justify;
}

.about-buttons a {
  margin: 10px 0;
}

.btn {
  background: rgb(42, 152, 185);
  border: none;
  color: inherit;
  cursor: pointer;
  height: 60%;
  width: 100%;
}

.btn h2 {
  font-size: 2.5em;
  color: rgb(255, 255, 255);
}

.skills-bar {
  height: 3px;
  width: 100px;
  background-color: rgb(42, 152, 185);
  margin: 10px 0;
}

.skills-section {
  background-color: rgb(31, 31, 31);
}

.skills-div {
  width: 90%;
  margin: auto;
}

.skills-div h1 {
  font-size: 1.8em;
  margin: 0;
  margin: 10px 0 0 0;
  margin-top: 10px;
  width: 100%;
}

.skills-div h2 {
  font-size: 1.5em;
  margin: 10px 0 0 0;
}

.skill-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skill-card {
  background-color: rgb(71, 71, 71);
  border-radius: 15px;
  height: 62px;
  margin: 20px 0;
  padding: 12px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skill-card h2 {
  margin: 0;
}

.skill-card hr {
  margin: 0;
}

.skill-card p {
  margin: 0;
}

.skill-card img {
  height: 50px;
  max-width: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.work-section {
  background-color: rgb(71, 71, 71);
}

.work-section h1 {
  font-size: 1.8em;
  margin: 10px 0 0 0;
}

.work-bar {
  height: 3px;
  width: 100px;
  background-color: rgb(42, 152, 185);
  margin: 10px 0;
}

.work-area {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

.work-area .btn {
  height: 62px;
}

.work-area h3 {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

.work-card {
  display: flex;
  flex-direction: column;
}

.work-card img {
  margin: auto;
}

footer {
  background-color: rgb(31, 31, 31);
  text-align: center;
}

@media screen and (min-width: 765px) {
  .about-profile-picture {
    width: 50%;
  }

  .about-buttons {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-buttons a {
    width: 30%;
    margin: 10px;
  }

  .btn {
    height: 100%;
  }

  .skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skill-card {
    width: 40%;
  }
}

@media screen and (min-width: 1080px) {
  nav {
    max-width: 1080px;
    margin: auto;
  }

  .about-div {
    flex-direction: row;
    padding: 0 5%;
    max-width: 1080px;
    margin: auto;
  }

  .about-profile-picture {
    width: 30%;
  }
  .about-buttons a {
    margin: 0;
  }

  .about-button-content h2 {
    font-size: 1.5em;
  }

  .skill-card {
    width: 27%;
  }

  .skills-div {
    max-width: 1080px;
    margin: auto;
  }

  .work-area {
    max-width: 1080px;
    margin: auto;
  }

}