/* centering the whole page */
/* html, body {
  height: 100%;
  font-size: 16px;
}

html {
  display: table;
  width: 100%;
}

body {
  display: table-cell;
} */
/* finish centering whole page */

a {
  text-decoration: inherit;
  color: inherit;
  display: flex;
  align-items: center;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

body {
  background-color: rgb(71, 71, 71);
  color: rgb(175, 175, 175);
}

footer {
  background-color: rgb(31, 31, 31);
  margin: auto;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h2 {
  margin: 0;
}

h1 {
  margin-top: 0px;
  font-size: 2.5em;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.3em;
}

hr {
  width: 50px;
  height: 3px;
  margin-left: 0px;
  border-color: rgb(42, 152, 185);
  background-color: rgb(42, 152, 185);
}

nav {
  background-color: rgb(31, 31, 31);
  margin: auto;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.about-contact {
  background-color: rgb(31, 31, 31);
}

.about-area {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px 0 20px 20px;
}

.about-me-text {
  width: 60%;
  height: fit-content;
}

.about-text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 80%;
}

.about-text p{
  margin: 10px 0;
}

.about-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.about-buttons {
  display: flex;
  width: 100%;
}

.about-section {
  background-color: rgb(71, 71, 71);
}

/* about button CSS */

.btn {
  align-items: center;
  background: rgb(42, 152, 185);
  border: none;
  cursor: pointer;
  color: inherit;
  display: flex;
  height: 45px;
  justify-content: center;
  letter-spacing: 1px;
  margin-right: 10px;
  outline: none;
  padding: 10px;
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  width: 500px;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background: rgb(13, 99, 126);
}

.btn:active {
  background: rgb(42, 152, 185);
  top: 2px;
}

.btn:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

/* end of about button CSS */

/* .contact-info {
  padding-left: 20px;
} */

.header-component {
  list-style: none;
  width: 150px;
  height: 30px;
  margin: 10px;
}

.header-component:hover {
  background-color: rgb(71, 71, 71);
  font-size: 22px;
}

li.header-component {
  font-size: 20px;
  padding-top: 5px;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.profile-picture {
  width: 40%;
  max-height: 450px;
}

.profile-picture img {
  height: 100%;
  margin-left: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.skill-block-title {
  margin: 10px 0 5px 0;
}

.skill-card {
  display: flex;
  align-items: center;
  width: 280px;
  background-color: rgb(71, 71, 71);
  border-radius: 15px;
  padding: 12px;
  margin: 10px;
}

.skill-card-info h2 {
  margin: 0;
}

.skill-card-info {
  margin-left: 20px;
}

.skill-card-info hr {
  border: 0;
  margin: 3px;
  width: 120px;
  height: 1px;
  margin-left: 0px;
  border-color: rgb(112, 112, 112);
  background-color: rgb(112, 112, 112);
}

.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-logo {
  width: 40px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.skills-area {
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding: 20px 0 20px 20px;
  margin: auto;
}

.skills-section {
  background-color: rgb(31, 31, 31);
}

.work-area {
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding: 20px 0 20px 20px;
  margin: auto;
}

.work-card {
  width: 100%;
  margin: 30px auto;
  background-color: rgb(112, 112, 112);
  padding: 30px;
}

.work-card img {
  width: 100%;
}

.work-card-info {
  width: 64%;
  margin: auto;
}

.work-card-info button {
  width: 100%;
  margin-top: 20px;
}

.work-image-div {
  width: 60%;
  background-color: rgb(197, 197, 197);
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

.work-section {
  background-color: rgb(71, 71, 71);
}

.yellow-bar {
  height: 5px;
  background-color: rgb(42, 152, 185);
}

@media (max-width: 691)
{
  .skill-card {
    width: 80%;
  }
}

@media (max-width: 1100px)
{
  .about-area {
    flex-direction: column-reverse;
    align-content: center;
    width: 80%;
  }

  .about-me-text {
    width: 100%;
  }

  .about-text {
    width: 100%;
  }

  .profile-picture {
    width: 100%;
  }

  .profile-picture img {
    max-width: 60%;
    max-height: 450px;
    margin: auto;
  }

  .contact-info {
    text-align: center;
  }

  .skills-area {
    width: 80%;
  }

  .skill-card {
    width: 40%;
  }
}